@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --body-gradient-start: #ff5e88;
    --body-gradient-end: #ff8cab;

    --calendar-bg: #ffffff;

    --text-primary: #000000;

    --inactive-color: #cccccc;

    --today-bg: #000000;
}

body.dark-mode{
    --body-gradient-start: #121212;
    --body-gradient-end: #1e1e1e;

    --calendar-bg: #2d2d2d;

    --text-primary: #ffffff;

    --inactive-color: #888888;

    --today-bg: #ff5e88;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2rem;
    min-height: 100vh;

    font-family: 'Poppins', sans-serif;

    background: linear-gradient(
        to bottom,
        var(--body-gradient-start),
        var(--body-gradient-end)
    );

    transition: .3s;
}

h1{
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

#theme-toggle{
    display: block;

    margin: 0 auto 20px;

    padding: 10px 15px;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    font-size: 1rem;
}

body.dark-mode #theme-toggle{
    background: #444;
    color: white;
}

.calendar{
    width: 380px;

    margin: auto;
    padding: 1rem;

    background: var(--calendar-bg);

    color: var(--text-primary);

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,.2);

    transition: .3s;
}

.calendar header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;
}

h3{
    text-transform: capitalize;
}

.calendar ul{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    text-align: center;
}

.calendar ul li{
    width: calc(100% / 7);

    margin-top: 25px;

    position: relative;

    text-align: center;
}

.days{
    font-weight: 600;
}

.days li{
    margin-top: 10px;
}

.dates li{
    cursor: pointer;
    transition: .2s;
}

.dates li:hover:not(.inactive){
    color: #ff5e88;
}

.dates li.today{
    color: white;
}

.dates li.today::before{
    content: '';

    width: 2rem;
    height: 2rem;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background: var(--today-bg);

    border-radius: 50%;

    z-index: -1;
}

.dates li.inactive{
    color: var(--inactive-color);
}

#prev,
#next{
    width: 24px;
    height: 24px;

    border: none;
    background: transparent;

    position: relative;

    cursor: pointer;
}

#prev::before,
#next::before{
    content: '';

    width: 50%;
    height: 50%;

    position: absolute;

    top: 50%;
    left: 50%;

    border-style: solid;
    border-width: .2em .25em 0 0;

    border-color: #999;
}

#next::before{
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before{
    transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before{
    border-color: black;
}